

/*----------------------------*/
/*carousel
------------------------------*/
.hero-section {
	padding-bottom: 54px;
}

.hero-slider .hs-item {
	position: relative;
	height: 720px;
}

.hero-slider .hs-item span {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	margin-bottom: 5px;
	display: block;
	position: relative;
	top: 50px;
	opacity: 0;
}

.hero-slider .hs-item h2 {
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 10px;
	position: relative;
	top: 50px;
	opacity: 0;
}

.hero-slider .hs-item p {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 35px;
	position: relative;
	top: 100px;
	opacity: 0;
}

.hero-slider .hs-item .site-btn {
	position: relative;
	top: 50px;
	opacity: 0;
}

.hero-slider .hs-item .sb-line {
	margin-right: 5px;
}

.hero-slider .hs-item .container {
	position: relative;
	padding-top: 170px;
}

.hero-slider .hs-item .offer-card {
	position: absolute;
	right: 0;
	top: 226px;
	width: 162px;
	height: 162px;
	border-radius: 50%;
	background: #f51167;
	text-align: center;
	padding-top: 20px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	opacity: 0;
}

.hero-slider .hs-item .offer-card:after {
	position: absolute;
	content: "";
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	border: 1px solid #f96790;
	left: 5px;
	top: 5px;
	border-radius: 50%;
}

.hero-slider .hs-item .offer-card span {
	font-size: 18px;
	text-transform: lowercase;
	position: relative;
	top: 50px;
	opacity: 0;
}

.hero-slider .hs-item  h2 {
	font-size: 60px;
	font-weight: 400;
	line-height: 1;
}
.offer-card h4{
	font-size: 50px;
	font-weight: 200;
	line-height: 1;

}
.hero-slider .hs-item .offer-card p {
	text-transform: uppercase;
	line-height: 1;
	font-size: 14px;
}

.hero-slider .slider-nav-warp {
	max-width: 1145px;
	bottom: 0;
	margin: -78px auto 0;
}

.hero-slider .slider-nav {
	display: inline-block;
	padding: 0 38px;
	position: relative;
}

.hero-slider .owl-dots {
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 9px;
}

.hero-slider .owl-dots .owl-dot {
	width: 8px;
	height: 8px;
	background: #fff;
	border-radius: 15px;
	margin-right: 10px;
	opacity: 0.25;
}

.hero-slider .owl-dots .owl-dot.active {
	opacity: 1;
}

.hero-slider .owl-dots .owl-dot:last-child {
	margin-right: 0;
}

.hero-slider .owl-nav button.owl-next,
.hero-slider .owl-nav button.owl-prev {
	font-size: 27px;
	position: absolute;
	color: #fff;
	opacity: 0.5;
	bottom: -20px;
}

.hero-slider .owl-nav button.owl-next {
	right: 0;
}

.hero-slider .owl-nav button.owl-prev {
	left: 0;
}

.hero-slider .owl-item.active .hs-item h2,
.hero-slider .owl-item.active .hs-item span,
.hero-slider .owl-item.active .hs-item p,
.hero-slider .owl-item.active .hs-item .site-btn {
	top: 0;
	opacity: 1;
}

.hero-slider .owl-item.active .hs-item span {
	-webkit-transition: all 0.5s ease 0.2s;
	-o-transition: all 0.5s ease 0.2s;
	transition: all 0.5s ease 0.2s;
}

.hero-slider .owl-item.active .hs-item h2 {
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.hero-slider .owl-item.active .hs-item p {
	-webkit-transition: all 0.5s ease 0.6s;
	-o-transition: all 0.5s ease 0.6s;
	transition: all 0.5s ease 0.6s;
}

.hero-slider .owl-item.active .hs-item .site-btn {
	-webkit-transition: all 0.5s ease 0.8s;
	-webkit-transition: all 0.5s ease 0.8s;
	-o-transition: all 0.5s ease 0.8s;
	transition: all 0.5s ease 0.8s;
}

.hero-slider .owl-item.active .hs-item .offer-card {
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all 0.5s ease 1s;
	-webkit-transition: all 0.5s ease 1s;
	-o-transition: all 0.5s ease 1s;
	transition: all 0.5s ease 1s;
}

.slide-num-holder {
	float: right;
	z-index: 1;
	color: #fff;
	position: relative;
	font-size: 24px;
	font-weight: 700;
	position: relative;
	margin-top: -22px;
}

.slide-num-holder span:first-child {
	margin-right: 41px;
}

.slide-num-holder:after {
	position: absolute;
	content: "";
	height: 30px;
	width: 1px;
	background: #fff;
	left: 50%;
	top: 0;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}

/*------------------------------*/
/*carousel button
---------------------------------*/
.site-btn {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 600;
	min-width: 167px;
	padding: 18px 47px 14px;
	border-radius: 50px;
	text-transform: uppercase;
	background: #f51167;
	color: #fff;
	line-height: normal;
	cursor: pointer;
	text-align: center;
}

.site-btn:hover {
	color: #fff;
}

.site-btn.sb-white {
	background: #fff;
	color: #111111;
}

.site-btn.sb-line {
	background: transparent;
	color: #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff;
}

.site-btn.sb-dark {
	background: #413a3a;
}

.site-btn.sb-dark.sb-line {
	background-color: transparent;
	color: #111111;
	-webkit-box-shadow: inset 0 0 0 1px #111111;
	box-shadow: inset 0 0 0 1px #111111;
}

/*-------------------------*/
/*footer
---------------------------*/
body {
    background: #fbfbfd;
}

.new_footer_area {
    background: #fbfbfd;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
/*h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}*/
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

